if ARCH_PILOT

config SYS_BOARD
	default "pilot"

config SYS_VENDOR
	default "aspeed"

config SYS_SOC
	default "pilot"

config SYS_CONFIG_NAME
	string "Board configuration name"
	default "pilot"
	help
	This option contains information about board configuration name.
	Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	will be used for board configuration.

config ENABLE_PILOT_SPI
        bool "Configure SPI Controllers and Banks"
        depends on ARCH_PILOT
        help
          Say Y here to enable/disable SPI controllers and banks 
          for pilot4 in U-Boot.

config MAX_BOOT_SPI_BANKS
        hex "Number of SPI devices connected to BOOT SPI Controller"
        default 0x1
	depends on ENABLE_PILOT_SPI
        help
          Set the number of SPI devices connected to BOOT SPI Controller
		Maximum value is 3

config PILOT_FAST_ERASE
        bool "Enable Pilot4 FAST erase command"
	depends on ENABLE_PILOT_SPI
	help
	The spi framework of uboot sends 4K sector erase commands at times
	when the erase sizes are in serveral 10s of MBs it takes a very long
	time. This option enables an erase command into the uboot command
	framework, that sendsout 64K erase commands instead of 4K. Hence the
	erase is a lot faster compared to the 4K erase.

endif
