if ARCH_ASPEED

menu "ASPEED AST SoC Architectures"

choice
        prompt "ASPEED Processor Family"
        default CONFIG_MACH_ASPEED_G5

config MACH_ASPEED_G3
	select CPU_ARM926EJS
        bool "Aspeed SoC 3rd Generation"

config MACH_ASPEED_G4
	select CPU_ARM926EJS
        bool "Aspeed SoC 4th Generation"

config MACH_ASPEED_G5
	select CPU_ARM1176
	select SUPPORT_SPL
        bool "Aspeed SoC 5th Generation"

config MACH_ASPEED_G6
	select CPU_ARM1176
	select SUPPORT_SPL
	bool "Aspeed SoC 6th Generation"

endchoice

config AST_VIDEO_SIZE
        hex "Reserver for VIDEO Engine DRAM Size (defaul 40MB)"
        default 0x2800000

config FPGA_ASPEED
	bool "FPGA"

config AST_CVIC
	bool "AST CVIC"

config AST_SCU_LOCK
	bool "AST SCU Protection Key"

config AST1070_UART_DMA
	bool

config AST_UART_SDMA
	bool

endmenu 

endif
