if ARCH_ASPEED

menu "ASPEED AST SoC Architectures"

choice
        prompt "ASPEED Processor Family"
        default CONFIG_MACH_ASPEED_G5

config MACH_ASPEED_G3
	select CPU_ARM926EJS
        bool "Aspeed SoC 3rd Generation"

config MACH_ASPEED_G4
	select CPU_ARM926EJS
        bool "Aspeed SoC 4th Generation"

config MACH_ASPEED_G5
	select CPU_ARM1176
	select SUPPORT_SPL
        bool "Aspeed SoC 5th Generation"

config MACH_ASPEED_G6
	select SUPPORT_SPL
	bool "Aspeed SoC 6th Generation"

endchoice

config FPGA_ASPEED
	bool "FPGA"

config AST_CVIC
	bool "AST CVIC"

config AST_SCU_LOCK
	bool "AST SCU Protection Key"

config AST1070_UART_DMA
	bool

config AST_UART_SDMA
	bool

endmenu 

if MACH_ASPEED_G6

config ARM1176
	select CPU_ARM1176
	bool "CPU ARM1176"

config CORTEX_A7
	select ARMV7_LPAE
	select CPU_V7
	select CPU_V7_HAS_NONSEC
	bool "CPU Cortex-A7"
endif

endif
