if ARCH_ASPEED

menu "ASPEED AST SoC Selection"

choice
        prompt "ASPEED Processor Family"
        default CONFIG_RT360_CAM

config RT360_CAM
	bool "Real Time 360 CAM"

endchoice

if RT360_CAM

choice
	prompt "Real Time 360 Cam Serials"
	default CONFIG_ARCH_AST1220

config ARCH_AST1220
	select CPU_ARM1176
	bool "AST1220"

endchoice

endif

config FPGA_ASPEED
	bool "FPGA"

config AST_CVIC
	bool "AST CVIC"

config AST_SCU_LOCK
	bool "AST SCU Protection Key"

config AST1070_UART_DMA
	bool

config AST_UART_SDMA
	bool

endmenu 

endif
