if MACH_ASPEED_G6

if CPU_ARM1176

config SYS_CPU
	default "arm1176"

endif

if CPU_V7

config SYS_CPU
	default "armv7"

endif

config SYS_BOARD
	default "ast-g6"

config SYS_VENDOR
	default "aspeed"

config SYS_SOC
	default "aspeed"

config SYS_CONFIG_NAME
	string "Board configuration name"
	default "ast-g6"

endif
