if ARCH_AST1220

config SYS_CPU
	default "arm1176"

config SYS_BOARD
	default "ast-cam"

config SYS_VENDOR
	default "aspeed"

config SYS_SOC
	default "aspeed"

config SYS_CONFIG_NAME
	string "Board configuration name"
	default "ast-cam"

endif
